.pricing-slider {
  position: relative;
  isolation: isolate;
  z-index: 1;
}

.pricing-slider::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 100px;
  width: 10px;
  height: 20px;
  background-color: #fff;
  border-radius: 5px;
  z-index: -1;
}
.pricing-slider::after {
  content: "";
  position: absolute;
  top: -7px;
  left: 205px;
  width: 10px;
  height: 20px;
  background-color: #fff;
  border-radius: 5px;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .pricing-slider::before {
    left: 70px;
  }
  .pricing-slider::after {
    left: 192px;
  }
}
